---
sections:
  - title: Niguel<br/>Fordash
    description: Mauris eget gravida urna. Phasellus vestibulum, lectus euismod finibus porttitor, nisi lacus mollis lorem.
    header: true
  - title: I've worked with
    description: American Express, The Guggenheim, Nintendo, Verizon, HBO, AMC, Vogue, EA Games,MTV, Showtime, Comedy Central, Fox, Atari, Diageo, Food Network, Time Inc, Harper Collins, The Weinstein Company.
  - title: I've worked at
    description: AKQA, Code & Theory, Mammoth, Deep Focus, Underline, Bunker, Barnyard, etc.
  - title: Current Interests
    description: Interactive design, user experience, MVP creation, leading teams, rapid prototyping, responsive design, home automation, The Oculus Rift and <strong>all things mobile</strong>.
  - image: /assets/images/fpo.png
---

{{#each sections}}
<section {{#ifNth "2" @index}}class="alt-section"{{/ifNth}} data-sections>
  <div class="content">

    {{#if header}}

    <h1 class="headline-1 m-marginless m-txt-uppercase">{{{title}}}</h1>
    <h2 class="subheadline-1">{{{description}}}</h2>

    {{else}}

    {{#unless image}}
    <h4 class="subheadline-1">{{{title}}}</h4>
    <p class="headline-2">{{{description}}}</p>
    {{else}}
    <img src="{{image}}" />
    {{/unless}}

    {{/if}}

  </div>
</section>
{{/each}}
